{% extends 'shop/base.html'%}
{% block title %} {{product.product_name}} - myAwesomeCart {% endblock %}
{% block body %} 
<div class="container my-4">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
               <img src="/media/{{product.image}}"" width="230px" height="200px">
            </div>
            <div class="row">
                <button class="btn btn-primary mx-3 my-4">Buy Now</button>
                <button id ="pr{{product.id}}" class="btn btn-primary my-4 cart">Add to cart</button>
            </div>
        </div>
        <div class="col-md-8">
            <h5>{{product.product_name}}</h5>
            <p><b>Rs.{{product.price}}</b></p>
            <p>{{product.desc}}</p>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    
    // We are using localStorage instead of SessionStorage because sessionStorage will get destroy after windows is closed but we need to show the previously added cart item
    // also we can use database for that but then user must have to login first to see the previous added item to cart
    if(localStorage.getItem('cart')==null){
        var cart = {};
    }
    else{
        cart = JSON.parse(localStorage.getItem('cart')); //for getting the value of cart from the localstorage
        document.getElementById('cart').innerHTML = Object.keys(cart).length;
    }
    
    $('.cart').click(function(){
        console.log('clicked');
        //console.log(id)
        var idstr = this.id.toString(); //for conversion to string
        console.log(idstr);
        if(cart[idstr] !=undefined){
             console.log("Added")
            cart[idstr] = cart[idstr] + 1;
        }
        else{
            cart[idstr] = 1;
        }
        console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart)); // To save the previous added product in the cart by converting it into string
        document.getElementById('cart').innerHTML = Object.keys(cart).length;
    });
    $('#popcart').popover();
    document.getElementById('popcart').setAttribute('data-content','<h5>Cart</h5>');
    
</script>
{% endblock %}